name: CI
on:
  pull_request:
jobs:
  ciJvms:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        java: [ '8', '11', '17', '21' ]
    steps:
      - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2
        with:
          fetch-depth: 100
      - name: Fetch tags
        run: git fetch --depth=100 origin +refs/tags/*:refs/tags/*
      - uses: actions/setup-java@v4.1.0
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: 'sbt'
      - name: sbt ci ${{ github.ref }}
        run: ./sbt ci

  ci:
    runs-on: ubuntu-22.04
    needs: [ ciJvms ]
    steps:
      - name: Aggregate of lint, and all tests
        run: echo "ci passed"
