name: Update Dependency Graph

on:
  push:
    branches:
      - master # default branch of the project

jobs:
  update-graph:
    name: Update Dependency Graph
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: scalacenter/sbt-dependency-submission@v3.1.0
