name: Release
on:
  push:
    branches: [ master ]
  release:
    types: [ published ]
jobs:
  release:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v5.0.0
        with:
          distribution: 'temurin'
          java-version: 11
          cache: 'sbt'
      - name: sbt +versionCheck ${{ github.ref }}
        run: ./sbt +versionCheck
      - name: sbt ci-release ${{ github.ref }}
        run: ./sbt ci-release
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
